<template>
  <div>

    <h1>As {{`\{\{\}\}`}}</h1>
    <div>{{htmlTrustedSafe}}</div>
    <div>{{htmlUntrustedSafe}}</div>
    <div>{{htmlTrustedUnsafe}}</div>
    <div>{{htmlUntrustedUnsafe}}</div>

    <h1>As {{'v-html'}}</h1>
    <div v-html="htmlTrustedSafe"></div>
    <div v-html="htmlUntrustedSafe"></div>
    <div v-html="htmlTrustedUnsafe"></div>
    <div v-html="htmlUntrustedUnsafe"></div>

    <h1>As sanitized {{'v-html'}}</h1>
    <div v-html="$sanitize(htmlTrustedSafe)"></div>
    <div v-html="$sanitize(htmlUntrustedSafe)"></div>
    <div v-html="$sanitize(htmlTrustedUnsafe)"></div>
    <div v-html="$sanitize(htmlUntrustedUnsafe)"></div>

    <h1>As sanitized {{'in script'}}</h1>
    <div v-html="sanitizedHtmlTrustedSafe"></div>
    <div v-html="sanitizedHtmlUntrustedSafe"></div>
    <div v-html="sanitizedHtmlTrustedUnsafe"></div>
    <div v-html="sanitizedHtmlUntrustedUnsafe"></div>
  </div>
</template>

<script setup lang="ts">
import {useNuxtApp} from "nuxt3/app";

const htmlTrustedSafe = '<h3 class="htmlTrustedSafe">htmlTrustedSafe</h3>'
const htmlUntrustedSafe = '<h3 class="htmlUntrustedSafe">htmlUntrustedSafe</h3>'
const htmlTrustedUnsafe = '<h3 class="htmlTrustedUnsafe" onmouseenter="alert(`Should display`)">htmlTrustedUnsafe</h3>'
const htmlUntrustedUnsafe = '<h3 class="htmlUntrustedUnsafe" onmouseenter="alert(`Should NOT display`)">htmlUntrustedUnsafe</h3>'

const nuxtApp = useNuxtApp()
const sanitizedHtmlTrustedSafe = nuxtApp.$sanitize(htmlTrustedSafe)
const sanitizedHtmlUntrustedSafe = nuxtApp.$sanitize(htmlUntrustedSafe)
const sanitizedHtmlTrustedUnsafe = nuxtApp.$sanitize(htmlTrustedUnsafe)
const sanitizedHtmlUntrustedUnsafe = nuxtApp.$sanitize(htmlUntrustedUnsafe)
</script>

<style>
h3 {
  display: inline-block;
  width: max-content;
}
.htmlTrustedSafe {
  color:forestgreen;
}
.htmlUntrustedSafe {
  color:blue;
}
.htmlTrustedUnsafe {
  color:maroon;
}
.htmlUntrustedUnsafe {
  color:orange;
}
</style>
